body {
		background: #bb8c60;
		font-size: 12pt;
		padding: 8px;
}

h2 {
		font-weight: 900;
}

a {
		color: darken(blue, 37%);
		text-decoration: none;
		font-weight: 550;
		&:hover {
				text-decoration: underline;
				color: blue;
		}
		&:focus {
				text-decoration: none;
		}
}

footer {
		position: fixed;
		left: 0;
		bottom: 0;
		text-align: center;
		width:100%
}

.current {
	color:black;
}


.TableInfo{
		border: 1px solid black;
		background: #eeeeee;
}

.TabInfo{
		font-size:16pt;
		background: #eeeeee;
		padding-left: 15px;
		width: 33%;
		line-height: 1.2;
		align: left;
}

.ContactInfo {
		.contact-list {
				.fas, .fab {
						margin-right: 6px;
						font-size: 28px;
						vertical-align: middle;
						color:#bb8c60;
						align:left;
				}

				li {
						margin-bottom: 12px;
						list-style-type: none;
						&:last-child {
								margin-bottom: 0;
						}
				}
		}
}
